train:
./data-bin/distilled_data/iwslt14de-en
./check_points/distilled_data/iwslt14de-en_array
--task
translation
--criterion
label_smoothed_cross_entropy
--lr-scheduler
linear_lr_scheduler
--src_lang
de
--tgt_lang
en
--label_smoothing
0.1
--dev-chunk-size
1
--log-interval
200
--encoder_embed_dim
256
--encoder_ffn_embed_dim
512
--encoder_layers
5
--encoder_attention_heads
4
--decoder_embed_dim
256
--decoder_ffn_embed_dim
512
--decoder_layers
5
--decoder_attention_heads
4
--dropout
0.1
--apply_bert_init
--max-tokens
4096
--performance-indicator
BLEU
--max-update
250000
--keep-best-checkpoints
5
--maximize-best-checkpoint-metric
--save-metric
BLEU
--no-epoch-checkpoints



generate:
./data-bin/distilled_data/iwslt14de-en
./check_points/distilled_data/iwslt14de-en_array
--task
translation
--criterion
label_smoothed_cross_entropy
--src_lang
de
--tgt_lang
en
--label_smoothing
0.1
--encoder_embed_dim
256
--encoder_ffn_embed_dim
512
--encoder_layers
5
--encoder_attention_heads
4
--decoder_embed_dim
256
--decoder_ffn_embed_dim
512
--decoder_layers
5
--decoder_attention_heads
4
--dropout
0.1
--apply_bert_init
--max-tokens
4096
--ckpt_name
checkpoint_best.pt