./data-bin/distilled_data/wmt16ro-en
./check_points/distilled_data/wmt16ro-en_test
--train-prefix
corpus.bpe
--valid-prefix
dev.bpe
--test-prefix
test.bpe
--task
translation
--criterion
label_smoothed_cross_entropy
length_criterion
--label_smoothing
0.1
--lr-scheduler
inverse_square_root
--lr
7e-4
--src_lang
ro
--tgt_lang
en
--train-chunk-size
2
--dev-chunk-size
1
--log-interval
200
--save-interval-updates
500
--share_all_embeddings
--encoder_embed_dim
512
--encoder_ffn_embed_dim
512
--encoder_layers
6
--encoder_attention_heads
8
--decoder_embed_dim
512
--decoder_ffn_embed_dim
512
--decoder_layers
6
--decoder_attention_heads
8
--dropout
0.1
--apply_bert_init
--max-tokens
4096
--performance-indicator
BLEU
--max-update
300000
--keep-best-checkpoints
5
--maximize-best-checkpoint-metric
--save-metric
BLEU
--no-epoch-checkpoints
--keep-interval-updates
5
--pred_length